nav {
    width: 100%;
    &.dashboard-navbar {
        background-color: var(--background-color);
    }
    &.home-navbar{
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--background-transparent-color);
    }
    ul {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
        padding: 50px 250px;
        img {
            width: 200px;
            height: auto;
        }
    }
}
